@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..600&display=swap');

body *,
html,
:root {
    font-family: 'Inter', sans-serif !important;
    --font: 'Inter', sans-serif !important;
}

/* [class^=st-emotion] {
    font-family: myFont !important
} */